body {
	font-family: sans-serif;

}

#backgroundMain {
	background-image: url(../img/market.jpg);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#background {
	background-image: url(../img/back1.png);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#main {
	height: 500px;
	background-color: white;
}

p {
	font-size: 12pt;
}

.icon{
	height:100px;
	width:100px;

}

#recycle {
	height: 160px;
	width: 200px;

}
#background2Main {
	background-image: url(../img/food.jpg);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#background2 {
	background-image: url(../img/back3.png);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#background3Main {
	background-image: url(../img/fly1.jpg);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#background3 {
	background-image: url(../img/fly2.jpg);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#top {
	height:500px;
}

#logo {
	height: 50px;
	width: 50px;
	float: left;

}

nav {
	background-color: white;
	height: 54px;


}

nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	border: solid 0px black;
	height: 50px;
	color: black;
	font-size: 22pt;
	font-weight: bold;

}



nav ul li{
	border: solid 0px black;
	display: inline-block;
	padding: 10px;
	float: right;
	text-align: right;
	background-color: rgba(153, 153, 102, .5);

}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
}

footer li {
	display: inline;
	float: right;
}

h1 {
	height: 80px;
	padding: 25px;
	margin-top: 130px;
	margin-left: 33%;
	margin-right: 33%;
	margin-bottom: 100px;
	background-color: rgba(153, 153, 102, .5);
	text-align: center;
	font-size: 40px;
}

section{
	width:33%;
	float:left;
	min-height:100vh;
	border: solid 0px black;
	font-size: 32px;
	text-align: center;
}

.socialmedia {
	position: relative;
	width: 100%;
	bottom: 0;
	list-style: none;
}

footer ul a:link, a:visited{
	display: block;
	width: 120px;
	color: black;
	background-color: rgba(153, 153, 102, .5);
	text-align: center;
	padding: 4px;
	text-decoration: none;
}
a:hover, a:active {
	background-color: rgba(153, 153, 102, .5);
	color: white;
}

button {
	height: 50px;
	width: 60px;
	font-size: 25px;
}